.carePage {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  margin-top: 200px;
}

.calendar {
  padding: 20px;
}

.record {
  padding: 20px;
}
