.diaryForm {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 200px;
}

.title {
  position: absolute;
  width: 400px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 14px;
  padding: 14px;
}

.button {
  position: absolute;
  width: 36px;
  height: 30px;
  margin-left: 302px;
  border: 1px solid #6fffc4;
  background-color: #6fffc4;
  color: rgb(77, 75, 75);
  border-radius: 14px;
}

.button:hover {
  position: absolute;
  width: 100px;
  height: 30px;
  margin-top: 480px;
  border: 1px solid #6fffc4;
  background-color: white;
  color: gray;
  border-radius: 14px;
}

.post {
  position: absolute;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 300px;
  font-size: 13px;
  font-weight: 300;
  color: rgb(96, 95, 95);
  text-decoration: underline;
}
