.container {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  text-align: center;
  margin-top: 100px;
}

img {
  font-size: 0;
}

img[src=""] {
  display: none;
}

.image {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  border-radius: 50%;
}

.title {
  margin-top: 40px;
  margin-bottom: 8px;
  font-size: 14px;
  color: gray;
}

.fileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: gray;
  margin: 0 auto;
  width: 100px;
}

input[type="file"]::file-selector-button {
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 24px;
  border: 1px solid #6fffc4;
  border-radius: 14px;
  background-color: #fff;
}

input[type="file"]::file-selector-button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 24px;
  border: 1px solid #6fffc4;
  border-radius: 14px;
  background-color: #6fffc4;
}

.name {
  width: 194px;
  height: 24px;
  margin-top: 40px;
  border: 1px solid #6fffc4;
  border-radius: 14px;
  padding: 2px 6px;
  text-align: center;
}

.labeled {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 24px;
  border: 1px solid #6fffc4;
  border-radius: 14px;
  margin-top: 30px;
  color: gray;
  font-size: 13px;
}

input[type="radio"] {
  accent-color: gray;
  border: 0px;
  width: 0.8em;
  height: 0.8em;
}

.regist {
  width: 194px;
  height: 30px;
  margin-top: 30px;
  border: 1px solid #6fffc4;
  background-color: #6fffc4;
  border-radius: 14px;
}

.regist:hover {
  width: 194px;
  height: 30px;
  margin-top: 30px;
  border: 1px solid #6fffc4;
  background-color: white;
  border-radius: 14px;
}
